<ng-container *ngIf="favCharacters else noFavs">
  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar [src]="favCharacters.image" alt="avatar-image">
      <mat-card-title>{{favCharacters.name}}</mat-card-title>
      <mat-card-subtitle>{{favCharacters.species}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="favCharacters.image" alt="Character icon">
    <mat-card-content>
      <p><strong>Gender: </strong> {{favCharacters.gender}}</p>
      <p>Status: {{favCharacters.status}}</p>
      <p>Origin: {{favCharacters.origin.name}}</p>
      <p>Location: {{favCharacters.location.name}}</p>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #noFavs>
  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar [src]="characters.image" alt="avatar-image">
      <mat-card-title>{{characters.name}}</mat-card-title>
      <mat-card-subtitle>{{characters.species}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="characters.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p><strong>Gender: </strong> {{characters.gender}}</p>
      <p>Status: {{characters.status}}</p>
      <p>Origin: {{characters.origin.name}}</p>
      <p>Location: {{characters.location.name}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="sendFavorite()">
        <mat-icon >{{setIcon()}}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

